{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container" id="projects-all-vue">
            <h1 class="my-5">Découvrez nos opportunités d'investissement</h1>
            <div class="modal fade" id="modal-interest" tabindex="-1" role="dialog" aria-labelledby="modal-interest" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Nouvelle marque d'intérêt</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Vous suscitez un intérêt pour le projet <b>${ modal.title }</b> !</p>
                            <p>Combien souhaitez-vous investir dans ce projet ?</p>
                            <div class="input-group">
                                <input type="number" class="form-control" id="modal-amount" placeholder="Votre montant" step="0.01" min="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                            <input type="hidden" id="modal-project" :value="modal.project" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button v-on:click="submitInterest" type="button" class="btn btn-primary">Envoyer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div v-for="project in projects" class="col-md-4 mt-3">
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/360/240/?random" alt="project">
                        <div class="card-body">
                            <h5>
                                <span v-if="project.funded == true" class="mdi mdi-cash-100 text-success" title="Projet financé"></span>
                                <span v-if="project.interests.length > 0" class="mdi mdi-star text-warning" title="Intérêt pour ce projet"></span>
                                ${ project.title }
                            </h5>
                            <p class="card-text">
                                ${ project.description }
                            </p>
                            <p>
                                Fonds demandés : <b>${ project.requestedAmount }</b>€<br />
                                Fonds levés : <b>${ project.fundedAmount }</b>€
                                <span v-if="project.interests.length > 0"><br />dont par vous-même : <b v-for="interest in project.interests">${ interest.amount }</b>€</span>
                                <div class="progress">
                                    <div v-if="project.funded == true" class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div v-else class="progress-bar" role="progressbar" :style="'width: ' + project.fundedPercent + '%'" :aria-valuenow="project.fundedPercent" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </p>
                            {% if app.user %}
                                <p class="text-right mb-0">
                                    <a v-if="project.interests.length == 0 && project.funded == false" v-on:click="modalInterest" href="#" class="btn btn-primary" :data-project="project['@id']" :data-title="project.title">
                                        Marquer mon intérêt
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            var projectsAllVue = new Vue({
                el: "#projects-all-vue",
                delimiters: ['${', '}'],
                data () {
                    return {
                        projects: [],
                        modal: {
                            title: "",
                            amount: 0,
                            project: "",
                        }
                    }
                },
                methods: {
                    callApi: function() {
                        $.ajax({
                            url: '/api/projects',
                            method: 'GET'
                        })
                            .done(data => {
                                this.projects = data['hydra:member'];
                            });
                    },
                    modalInterest: function(event) {
                        event.preventDefault();
                        this.modal.title = event.currentTarget.getAttribute('data-title');
                        this.modal.project = event.currentTarget.getAttribute('data-project');
                        this.modal.amount = 0;
                        $("#modal-amount").val(0);
                        $("#modal-interest").modal('show');
                    },
                    submitInterest: function(event) {
                        $.ajax({
                            url: '/api/interests',
                            headers: {'accept': "application/ld+json"},
                            method: 'POST',
                            contentType: 'application/ld+json',
                            data: JSON.stringify({
                                'project': $("#modal-project").val(),
                                'amount': parseFloat($("#modal-amount").val())
                            })
                        })
                            .done(data => {
                                $("#modal-interest").modal('hide');
                                alert('Intérêt marqué');
                                this.callApi();
                            });
                    }
                },
                mounted () {
                    this.callApi();
                }
            });
        });
    </script>
{% endblock javascripts %}