{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <h1 class="my-5">Vos marques d'intérêts dans nos opportunités d'investissement</h1>
            <div class="row" id="projects-myinterests-vue">
                <div v-for="project in projects" class="col-md-4 mt-3">
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/360/240/?random" alt="project">
                        <div class="card-body">
                            <h5>
                                <span v-if="project.funded == true" class="mdi mdi-cash-100 text-success" title="Projet financé"></span>
                                <span v-if="project.interests.length > 0" class="mdi mdi-star text-warning" title="Intérêt pour ce projet"></span>
                                ${ project.title }
                            </h5>
                            <p class="card-text">
                                ${ project.description }
                            </p>
                            <p>
                                Fonds demandés : <b>${ project.requestedAmount }</b>€<br />
                                Fonds levés : <b>${ project.fundedAmount }</b>€<br />
                                dont par vous-même : <b v-for="interest in project.interests">${ interest.amount }</b>€
                                <div class="progress">
                                    <div v-if="project.funded == true" class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div v-else class="progress-bar" role="progressbar" :style="'width: ' + project.fundedPercent + '%'" :aria-valuenow="project.fundedPercent" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </p>
                            <p v-if="project.funded == false" class="text-right mb-0">
                                <a v-for="interest in project.interests" v-on:click="deleteInterest" href="#" class="btn btn-danger" :data-interest="interest['@id']">
                                    Supprimer mon intérêt
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            var projectsMyInterestsVue = new Vue({
                el: "#projects-myinterests-vue",
                delimiters: ['${', '}'],
                data () {
                    return {
                        projects: []
                    }
                },
                methods: {
                    callApi: function() {
                        $.ajax({
                            url: '/api/projects/myinterests',
                            method: 'GET'
                        })
                            .done(data => {
                                this.projects = data['hydra:member'];
                            });
                    },
                    deleteInterest: function(event) {
                        $.ajax({
                            url: event.currentTarget.getAttribute('data-interest'),
                            method: 'DELETE'
                        })
                            .done(data => {
                                alert('Intérêt supprimé');
                                this.callApi();
                            });
                    }
                },
                mounted () {
                    this.callApi();
                }
            });
        });
    </script>
{% endblock javascripts %}