{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container" id="project-one-vue">
            <h1 class="my-5">${ project.title }</h1>
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/360/240/?random" alt="project">
                <div class="card-body">
                    <h5>${ project.title }</h5>
                    <p class="card-text">
                        ${ project.description }
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            var projectOneVue = new Vue({
                el: "#project-one-vue",
                delimiters: ['${', '}'],
                data () {
                    return {
                        project: []
                    }
                },
                methods: {
                    callApi: function() {
                        $.ajax({
                            url: '/api/project/{{ projectUuid }}',
                            method: 'GET'
                        })
                            .done(data => {
                                this.project = data;
                            });
                    }
                },
                mounted () {
                    this.callApi();
                }
            });
        });
    </script>
{% endblock javascripts %}